
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script(type="text/javascript" src="../javascript/chart.js")
        script(type="module" src="../javascript/stockPage.js")
        link(rel="stylesheet" type="text/css" href="../css/chart.css")
        link(rel="stylesheet" type="text/css" href="../css/stockPage.css")
        title #{stockSymbol} - $#{price} | Sherwood Wealth
        script(src="../javascript/awesomplete.js" async)
        //- script(type="module" src="./javascript/searchBar.js")
        link(href="../css/awesomplete.css" rel="stylesheet")
        link(href="../css/searchbar.css" rel="stylesheet")
        //- title.titlePrice= stockSymbol
        link(rel="icon", href="../images/favicon_v2.ico")
    body
        div.header_bar
            div.header_flavicon
                a(href="/dashboard")
                  img(src='../images/favicon_v2.ico')
            div
                form(action="/stocks" method='post' onchange='this.form.submit()')
                    div
                        input(
                            class='searchBar__stocks'
                            class='awesomplete'
                            type='text'
                            name='search'
                            placeholder='  Search By Name'
                            autocomplete='off'
                            list='company'
                            size='5'
                        )
                        datalist(id='company' size='5' ).searchbarDrop
                            each val in stockData
                                option=val.fullName

        input(type="hidden", name="currentStock" value=stockSymbol)
        div#chart-wrapperStock
            button.industry_icon= data.finnhubIndustry
            div#current-price
                span(id="current-company-name")= companyName
                br
                span(id="current-price-span")
                br
                span(id="percent-diff")
            div#chart_div

        //- unless !auth
        //-     FOR #{user}, YOU HAVE # #{shares} SHARES
        //-     div#purchase-form
        //-         div#buy-stock.tabcontent
        //-             div#button-wrapper
        //-                 button#buy-tab__button BUY TAB
        //-                 button#sell-tab__button SELL TAB
        //-             div#transaction-form__buy
        //-                 form(action="/transactions/buy", method="post")
        //-                     input(type="hidden", name="symbol" value=stockSymbol)
        //-                     div#shares-or-dollars
        //-                         label Shares
        //-                         input#number-shares__buy(type="number", name="boughtNumber" placeholder="0" min=1)
        //-                     div#estimate-cost
        //-                         span Estimated Cost
        //-                         span#estimate-cost__span
        //-                     button#buy-button(type="submit") SUBMIT BUY
        //-     div#sell-stock.tabcontent
        //-         div#transaction-form__sell
        //-             form(action="/transactions/sell", method="post")
        //-                 input(type="hidden", name="symbol" value=stockSymbol)
        //-                 div#shares-or-dollars
        //-                     label Shares
        //-                     input#number-shares__sell(type="number", name="soldNumber" placeholder="0" min=1)
        //-                 div#estimate-credit
        //-                     span Estimated Credit
        //-                     span#estimate-credit__span
        //-                 button#sell-button(type="submit") SUBMIT SELL
        //- input(type="hidden", name="current-price" value=price)
        div#purchase-form
            span= message
            div#buy-stock.tabcontent
                div#button-wrapper
                    button#buy-tab__button= `Buy ${stockSymbol}`
                    button#sell-tab__button= `Sell ${stockSymbol}`
                    div.create-fullline
                div#transaction-form__buy
                    div
                        label.buyLabels Shares
                    div
                        form(id="buy" action="/transactions/buy", method="post")
                            input(type="hidden", name="symbol" value=stockSymbol)
                            input(type="hidden", name="buysell" value="buy" class="buysell")
                            div#shares-or-dollars
                                input#number-shares__buy(type="number", name="boughtNumber" placeholder="0" min=1)
                    div.line-break
                    div
                        label.buyLabels.marketPriceLabel Market Price
                    div.marketPrice

                    div.create-fullline
                div#estimate-cost

                    span.buyLabels.estimatedCost Estimated Cost:
                    span#estimate-cost__span
                button#buy-button(type="submit" form="buy").review_order Submit Buy
                div
                    div.create-fullline
                div.flavorText
                    h4 Introducing Fractional Shares
                    p Invest in thousands of stocks with as little as $1
            div#sell-stock.tabcontent
                div#transaction-form__sell.hidden
                    form(action="/transactions/sell", method="post")
                        input(type="hidden", name="symbol" value=stockSymbol)
                        div#shares-or-dollars
                            label Shares
                            input#number-shares__sell(type="number", name="soldNumber" placeholder="0" min=1)
                        div#estimate-credit
                            span Estimated Credit
                            span#estimate-credit__span
                        button#sell-button(type="submit") SUBMIT SELL
        input(type="hidden", name="current-price" value=price)
        div.line-break
        div.create-line
        div.about
            div
                h2 About
                h4= data.name
                h4= data.weburl
                h4= `Market Cap: ${data.marketCapitalization} million`
            div
                h2= `Contact`
                h4= data.country
                h4= data.phone
                h4= `IPO: ${data.ipo}`
            div.logo
                img(src=data.logo)
        div.line-break
        div.create-line
        div.newsPage
            h2.newsTitle News
                div.newsSummary
                    h4.newsHeadline= news[0].headline
                    p= news[0].summary
                    a(href= `${news[0].url}`) News Article Link
                div.newsSummary
                    h4.newsHeadline= news[1].headline
                    p= news[1].summary
                    a(href= `${news[1].url}`) News Article Link
                div.newsSummary
                    h4.newsHeadline= news[2].headline
                    p= news[2].summary
                    a(href= `${news[2].url}`) News Article Link
